<div class="container" ng-app="TwitterClient">
    <nav>
        <a href="#/tweets"><i class="icon-search"></i> Search Twitter</a>
        <a href="#/saved"><i class=" icon-heart"></i> Saved Tweets</a>  
    </nav>
   

    <div ng-view></div>
</div>


